.button {
	width: 100%;
	padding: 1rem;
	background-color: #007aff;
	color: var(--font-color-secondary);
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.button:hover {
	filter: brightness(1.1);
}

.button:active {
	filter: brightness(0.9);
}
