.formContainer {
	display: flex;
	width: 70%;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 6rem;
	gap: 1rem;
}

.todoContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2rem;
	width: 100%;
	padding: 1rem;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0px 4px 20px 0.1px rgba(0, 0, 0, 0.25);
}

.inputGroup {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.inputGroup input,
.inputGroup textarea,
.inputGroup select {
	background-color: transparent;
	border: 1px solid var(--font-color-primary);
}

.inputGroup textarea {
	resize: none;
}

.buttonContainer {
	display: flex;
	gap: 1rem;
}

.addButton,
.clearButton {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	background-color: #0086ff;
	color: #fff;
	width: 110px;
	height: 40px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

.clearButton {
	background-color: #545b62;
}

.addButton:hover,
.clearButton:hover {
	filter: brightness(1.1);
}

.addButton:active,
.clearButton:active {
	filter: brightness(0.9);
}
