.navigation {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	color: var(--font-color-primary);
}

.list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	list-style: none;
	padding: 0;
}

